.content__absence_header {
  position: relative;
  display: flex;
  align-content: center;
  padding-bottom: 16px;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 11px;
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  span {
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    right: 9px;
    top: 9px;
    width: 12px;
    height: 12px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    rotate: -135deg;
  }
}

.content__absence__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content__absence__card {
  display: flex;
  position: relative;
  gap: 16px;
}

.content__absence__card__img {
  width: 72px;
  height: 96px;
  border-radius: 8px;
  filter: grayscale(1);
}

.content__absence__card__description {
  display: flex;
  color: #9797af;
  flex-direction: column;
  :first-child {
    font-size: 16px;
    line-height: 24px;
    max-width: 290px;
  }
  :nth-child(2) {
    display: flex;
    gap: 14px;
    span {
      font-size: 13px;
      line-height: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}
.content__absence__card__manage {
  display: flex;
  gap: 19px;
  position: absolute;
  top: 3px;
  right: 132px;
  img {
    cursor: pointer;
  }
}

@media (max-width: 1023px) {
  .content__absence {
    padding: 5px 8px 0px 16px;
  }

  .content__absence_header {
    padding-bottom: 16px;
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
    span {
      transition: 0.3s;
      position: absolute;
      right: 15px;
      top: 9px;
      width: 12px;
      height: 12px;
      border-right: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      rotate: -135deg;
    }
  }

  .content__absence__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content__absence__card {
    position: relative;
    height: 155px;
    display: flex;
    gap: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .content__absence__card__img {
    width: 80px;
    height: 106px;
  }

  .content__absence__card__description {
    :first-child {
      font-size: 14px;
      line-height: 20px;
      max-width: 290px;
      max-height: 40px;
      overflow: hidden;
    }
    :nth-child(2) {
      gap: 10px;
    }
  }
  .content__absence__card__manage {
    display: flex;
    gap: 26px;
    position: absolute;
    top: inherit;
    bottom: 15px;
    right: 14px;
    img {
      width: 17px;
    }
  }
}
