.bill__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 4px;
  width: 96%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 22px 24px 24px;
  border-radius: 16px;
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    width: 100%;
    position: relative;
    img {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }
}

.bill__container__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bill__container__info__bold {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 4px;
  :nth-child(2) {
    span {
      font-size: 20px;
    }
  }
}

.bill__container__address {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.bill__container__date {
  color: #cb11ab;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px dashed #cb11ac6b;
  width: fit-content;
  margin-bottom: 12px;
}

.bill__container__note {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #f6f6fa;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 16px;
  img {
    margin-right: 8px;
    margin-top: 2px;
  }
  p {
    position: relative;
  }
  span {
    color: #0cb477;
    border-bottom: 1px dashed #0cb477;
  }
  button {
    margin-right: 8px;
  }
}

.bill__container__card {
  display: flex;
  align-items: center;
  div {
    display: block;
    margin-right: 9px;
    background-color: #f6f6fa;
    border-radius: 4px;
  }
  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
}

.bill__container__note2 {
  flex-direction: column;
  margin-top: 10px;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :nth-child(2) {
    margin-top: 8px;
  }
}

.bill__container__order {
  background-color: #cb11ab;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.bill__container__accept {
  display: flex;
  align-items: start;
  margin-top: 8px;
  font-size: 13px;
  line-height: 16px;
  img {
    margin-right: 8px;
  }
  a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1600px) {
  .bill__container__note {
    align-items: center;
  }
  .bill__container__note2 {
    align-items: start;
  }
}

@media (max-width: 1350px) {
  .bill__container {
    width: 94%;
  }
}

@media (max-width: 700px) {
  .bill__container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 4px;
    width: 100%;
    box-shadow: none;
    padding: 8px 16px 10px 16px;
    border-radius: 16px;
    h3 {
      display: none;
    }
  }

  .bill__container__address {
    display: none;
  }

  .bill__container__date {
    display: none;
  }

  .bill__container__card {
    display: none;
  }

  .bill__container__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .bill__container__info__bold {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4px;
  }

  .bill__container__note {
    background-color: #f0ecf4;
    margin-top: 15px;
    font-size: 13px;
    line-height: 16px;
    img {
      margin-right: 8px;
      margin-top: 2px;
    }
    span {
      color: #0cb477;
      border-bottom: 1px dashed #0cb477;
    }
    button {
      margin-right: 8px;
      background-color: transparent;
    }
  }

  .bill__container__accept {
    display: flex;
    align-items: start;
    margin-top: 8px;
    font-size: 13px;
    line-height: 16px;
    img {
      margin-top: 5px;
    }
  }
}
